### Cчитываем библиотеку pandas:

In [2]:
import pandas as pd

Cчитываем csv файл и сохраняем его в переменную df:

In [8]:
df = pd.read_csv('/Users/79295/Desktop/GITHUB/Analytical-practice/Pandas/2_bookings.csv',
                encoding = 'windows-1251', sep=';')

In [9]:
df

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Посмотрим на данные в первых строках таблицы:

In [11]:
df.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Посмотрим на данные в конце таблицы:

In [12]:
df.tail()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Узнаем кол-во строк и столбцов в нашей табличке:

In [14]:
df.shape

(119390, 21)

Узнаем, какие типы данных содержатся в нашем датафрейме:

In [20]:
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

Перечислим названия всех коллнок датафрейма:

In [19]:
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [24]:
sum_adults = df.Adults.sum()
sum_adults

221636

In [23]:
sum_children = df.Children.sum()
sum_children

12403.0

Выведем значеия первых 5 записей в колонках Hotel и Is Canceled

In [27]:
df[['Hotel','Is Canceled']].head()

          Hotel  Is Canceled
0  Resort Hotel            0
1  Resort Hotel            0
2  Resort Hotel            0
3  Resort Hotel            0
4  Resort Hotel            0

Приведем названия колонок в работоспособный вид. Получим названия колонок, далее используем метод rename и задаем новые названия, убираем пробел и переводим все в нижний регистр

In [29]:
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [33]:
df = df.rename(columns={"Is Canceled": "is_canceled",
                   "Lead Time": "lead_time",
                   "arrival full date": "arrival_full_date",
                   "Arrival Date Year": "arrival_date_year",
                   "Arrival Date Month": "arrival_date_month",
                   "Arrival Date Week Number": "arrival_date_week_number",
                   "Arrival Date Day of Month": "arrival_date_day_of_month",
                   "Stays in Weekend nights": "stays_in_weekend_nights",
                   "Stays in week nights": "stays_in_week_nights",
                   "stays total nights": "stays_total_nights",
                   "Adults": "adults",
                   "Hotel": "hotel",
                   "Children": "children",
                   "Babies": "babies",
                   "Meal": "meal",
                   "Country": "country",
                   "Reserved Room Type": "reserved_room_type",
                   "Assigned room type": "assigned_room_type",
                   "customer type": "customer_type",
                   "Reservation Status": "reservation_status",
                   "Reservation status_date": "reservation_status_date"                  
                  }
         )

In [35]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

### Определим какое кол-во взрослых посетителей было по месяцам :

In [45]:
df.groupby('arrival_date_month').aggregate({'adults': 'sum'})

                    adults
arrival_date_month
April                20806
August               27795
December             12382
February             14450
January              10024
July                 25164
June                 20353
March                17675
May                  21539
November             11488
October              20279
September            19681

Определим какое кол-во детей посетителей было по месяцам в отелях и отсортируем данные по убыванию :

In [51]:
df.groupby(['arrival_date_month', 'hotel']) \
    .aggregate({'children': 'sum'}) \
    .sort_values('children', ascending = False)

                                 children
arrival_date_month hotel
August             City Hotel      1499.0
                   Resort Hotel    1281.0
July               City Hotel      1193.0
                   Resort Hotel    1129.0
April              City Hotel       787.0
June               City Hotel       569.0
February           City Hotel       499.0
December           City Hotel       498.0
May                City Hotel       489.0
June               Resort Hotel     488.0
March              City Hotel       444.0
October            City Hotel       434.0
May                Resort Hotel     356.0
April              Resort Hotel     354.0
September          City Hotel       351.0
January            City Hotel       313.0
February           Resort Hotel     291.0
October            Resort Hotel     269.0
March              Resort Hotel     256.0
September          Resort Hotel     247.0
December           Resort Hotel     238.0
November           City Hotel       172.0
January            Resort Hotel     139.0
November           Resort Hotel     107.0

Сохраним табличку с наши результатом в переменную:

In [52]:
childrens_by_hotels = df.groupby(['arrival_date_month', 'hotel']) \
    .aggregate({'children': 'sum'}) \
    .sort_values('children', ascending = False)

Теперь выгружаем все в файл csv:

In [54]:
childrens_by_hotels.to_csv('childrens_by_hotels.csv')

На всякий случай проверим сколько у нас отолей в исходном датафрейме:

In [59]:
df.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

И удостоверимся, что кол-во детей в нашем получившемся датафрейме совпадает с количеством в исходной таблице и мы никого не потеряли

In [73]:
if childrens_by_hotels.children.sum() == df.children.sum():
    print ('OK')
else:
    print('Error!!!')

OK